<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Private Message</title>
   <div th:replace="~{fragments/links :: links-fragment}"></div>
   <script th:src="@{/js/index.js}"></script>
</head>
<body>
   <form id="privateMessageForm">
      <div class="form-outline">
         <input type="text" id="recipient" class="form-control" />
         <label class="form-label" for="recipient">Recipient id</label>
      </div>
      <div class="form-outline">
         <input type="text" id="body" class="form-control" />
         <label class="form-label" for="body">Message</label>
      </div>
      <button type="submit" class="btn btn-primary" id="sendPrivateMessageBtn">Send Private Message</button>
       <button class="btn btn-primary d-none" type="button" id="sendPrivateMessageSpinner" disabled>
           <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
           <span class="visually-hidden">Loading...</span>
       </button>
   </form>

   <ul id="privateMessageSection">

   </ul>
</body>
</html>