<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Private Chat</title>
   <div th:replace="~{fragments/links :: links-fragment}"></div>
   <script th:src="@{/js/index.js}"></script>
</head>
<body>
   <h1 class="mt-2" align="center"> Start Chatting</h1>
   <p class="note note-warning mb-3 lead text-center">Please be aware that messages that you sent or receive are not saved into any database. All Chat will be deleted after you refresh the page or leave the website.</p>

   <hr />

   <div class="dropdown">
      <button
              class="btn btn-primary dropdown-toggle position-relative"
              type="button"
              id="dropdownMenuButton"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
         Inbox
         <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
            99+
            <span class="visually-hidden">unread messages</span>
         </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="notificationContainer">

      </ul>
   </div>

   <span th:if="${users.isEmpty()}">No registered users yet</span>

   <th:block th:each="user : ${users}">
      <div class="card">
         <div class="card-body">
            <img class="rounded-circle shadow-4-strong" th:src="${'/img/' + user.picture}" style="width: 50px; height: 50px;">
            <h5 class="card-title" th:text="${user.username}"></h5>
            <p class="card-text" th:text="${user.description}"></p>
            <a role="button"
               id="sendPrivateMessageBtn"
               th:href="@{/private-chat/{recipientId} (recipientId=${user.id}) }"
               class="btn btn-primary">
               <i class="fas fa-comment"></i>
               Chat
            </a>
         </div>
      </div>
   </th:block>
</body>
</html>