<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Private Chat</title>
   <div th:replace="~{fragments/links :: links-fragment}"></div>
   <link rel="stylesheet" th:href="@{/css/main.css}" />
   <script th:src="@{/js/private-chat.js}"></script>
</head>
<body background="/img/background.jpg">
   <h1 align="center" th:text="${'Interacting as ' + sender.username + ' with id of ' +  sender.id}"></h1>

   <div id="chat-page">
      <div class="chat-container">
         <div class="chat-header">
            <h2 th:text="${'Private Chat with ' + recipient.username + ' with id of ' + recipient.id}"></h2>
         </div>
         <div class="connecting">Connecting...</div>
         <ul id="messageArea">

         </ul>
         <form id="privateMessageForm">
            <div class="form-group">
               <div class="input-group clearfix">
                  <input type="text" id="body" placeholder="Type a message..."
                         autocomplete="off" class="form-control" required />
                  <button type="submit" id="sendPrivateBtn" class="btn btn-success">
                     Send
                     <i class="fas fa-paper-plane"></i>
                  </button>
                  <button class="btn btn-success" id="sendPrivateBtnSpinner" type="button"  disabled>
                     <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                     Sending...
                  </button>
               </div>
            </div>
         </form>
      </div>
   </div>

   <input type="hidden" id="senderUsername" name="sender" th:value="${sender.username}" />
   <input type="hidden" id="senderId" name="senderId" th:value="${sender.id}" />
   <input type="hidden" id="recipientId" name="sender" th:value="${recipient.id}" />
</body>
</html>